.heading {
  line-height: 1.25px;
}

.color-default {
  color: var(--color-brand-east-bay);
}

.color-primary {
  color: var(--color-brand-medium-purple);
}

.size-md {
  font-size: 21px;
}

.size-sm {
  font-size: 18px;
}

.size-xs {
  font-size: 16px;
}
