name: Test push action
on:
  push:
    branches:
      - main
jobs:
  install:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          cache: "npm"
          node-version: 18
      - name: Install dependencies
        run: npm install

  lint:
    needs: [install]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          cache: "npm"
          node-version: 18
      - name: Install dependencies
        run: npm install
      - name: Lint
        run: npm run lint
